@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-lighter: 239 83 77;
    --color-primary-light: 239 83 72;
    --color-primary: 239 84 67;
    --color-primary-dark: 239 84 62;
    --color-primary-darker: 239 84 57;

    --color-surface-lighter: 0 0% 100%;
    --color-surface-light: 0 0% 100%;
    --color-surface: 0 0% 100%;
    --color-surface-dark: 210 20% 97%;
    --color-surface-darker: 210 14% 94%;

    --color-contrast-higher: 223 70% 4%;
    --color-contrast-high: 220 8% 22%;
    --color-contrast-medium: 220 4% 41%;
    --color-contrast-low: 220 5% 63%;
    --color-contrast-lower: 220 12% 85%;

    --color-success: 158 60% 44%;
    --color-error: 342 89% 48%;
    --color-warning: 46 83% 50%;

    --color-black: 224 71% 4%;
    --color-white: 0 0% 100%;

    --color-shadow: 224 71% 4%;
    --shadow-intensity: 0.5;

    --default-border-opacity: 0.1;
  }

  .dark {
    --color-primary-lighter: 239 83 77;
    --color-primary-light: 239 83 72;
    --color-primary: 239 84 67;
    --color-primary-dark: 239 84 62;
    --color-primary-darker: 239 84 57;

    --color-surface-lighter: 218 8% 26%;
    --color-surface-light: 220 8% 21%;
    --color-surface: 220 7% 16%;
    --color-surface-dark: 216 10% 10%;
    --color-surface-darker: 240 8% 5%;

    --color-contrast-higher: 180 9% 98%;
    --color-contrast-high: 210 4% 81%;
    --color-contrast-medium: 214 4% 65%;
    --color-contrast-low: 222 4% 49%;
    --color-contrast-lower: 220 7% 34%;

    --color-success: 158 64% 52%;
    --color-error: 342 97% 61%;
    --color-warning: 46 80% 60%;

    --color-black: 240 8% 2%;
    --color-white: 0 0% 100%;

    --color-shadow: 240 8% 2%;
    --shadow-intensity: 1;

    --default-border-opacity: 0.1;
  }

  * {
    @apply border-contrast-higher/[--default-border-opacity];
  }

  body {
    @apply bg-surface text-contrast-high font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-contrast-higher font-title;
  }
}